/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
------------------------------------------------------------- */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: black;
	background-color: white
}

h1 {
    color: rgb(44, 44, 126);
	font-family: "Charm Static", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 0 0 1em;
}



/* ELEMENTS ------------------------------------------------ */




/* LINKS ----------------------------------------------------*/
a,
a:visited { 
	color: purple;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}



/* MAIN ------------------------------------------------*/

.welcome-banner {
	margin-left: 22%;
}

.building {
	width: 100%;
}