/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
------------------------------------------------------------- */
html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: black;
	background-color: rgb(243, 233, 215)
}

h1 {
    color: black;
	font-family: "Charm Static", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 3rem;
}

h2 {
	font-family: "Charm Static", Georgia, Times, "Times New Roman", serif;
	color: rgb(28, 59, 49);
	text-align: center;
	font-size: 2rem;
}

p {
	line-height: 1.5rem;
	margin: 1em 0 5em;
}



/* ELEMENTS ------------------------------------------------ */




/* LINKS --------------------------------------------------- */
a,
a:visited { 
	color: green;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
}




/* HEADER -------------------------------------------------*/
.site-header ul {
	color: black;
	padding: 1rem;
	list-style: none;
	text-align: center;
	gap: .5rem;
}


.nav-ul a {
	color: black;
}

@media (min-width: 50em) {

	.site-header ul {
		color: black;
		padding: 1rem;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		gap: .5rem;
	}

}




/* MAIN ------------------------------------------------ */
.page-title {
	color: rgb(28, 59, 49);
	font-size: 2rem;
	text-align: center;
}

.img-nature {
	width: 90%;
	border-radius: 5%;
	margin-left: 5.2%;
}

.about {
	border-bottom: solid;
	font-size: 1.5rem;
}

.self-intro {
	font-size: 1rem;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1rem;
}

.project {
	border-bottom: solid;
	font-size: 1.5rem;
}

.project-list ul {
	font-size: 1rem;
	text-align: center;
	list-style: none;
	padding: 1rem;
}

.project-list a {
	color: black;
	line-height: 2.5rem;
	padding: 1 1rem;
}

.project-list p {
	text-align: center;
}


.stay-tuned	{
	padding: 2rem 0rem 0rem 0rem;
}

@media (min-width: 50em) {

	.page-title {
		font-size: 3rem;
	}

	.about {
		font-size: 2rem;
	}

	.self-intro {
		text-align: left;
		margin-left: 20%;
		margin-right: 20%;
	}

	.project {
		font-size: 2rem;
	}
}




/* FOOTER ------------------------------------------------------ */

.site-footer {
	color: rgb(28, 59, 49);
	background-color: rgb(245, 245, 220);
	text-align: center;
	padding: .5 0 0 0rem;
}