/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
------------------------------------------------------------- */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	color: black;
	background-color: rgb(243, 233, 215)
}

h1 {
    color: black;
	font-family: "Charm Static", Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 3rem;
}

h2 {
	font-family: "Charm Static", Georgia, Times, "Times New Roman", serif;
	color: rgb(28, 59, 49);
	text-align: center;
	font-size: 2rem;
}

p {
	line-height: 1.5rem;
	margin: 1em 0 5em;
}



/* ELEMENTS ------------------------------------------------ */




/* LINKS --------------------------------------------------- */
/* a,
a:visited { 
	color: purple;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
} */



/* HEADER -------------------------------------------------*/
.site-header ul {
	color: black;
	padding: 1rem;
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

@media (min-width: 37.5em) {
	
	.site-header ul {
		display: flex;
		flex-wrap: wrap-reverse;
	}

}



/* MAIN ------------------------------------------------ */
.page-title {
	color: rgb(28, 59, 49);
	text-align: center;
}

.img-nature {
	width: 100%;
}

.project-list {
	text-align: center;
	list-style: none;
}

.stay-tuned	{
	padding: 3rem 0rem 0rem 0rem;
}




/* FOOTER ------------------------------------------------------ */

.site-footer {
	color: rgb(28, 59, 49);
	background-color: rgb(245, 245, 220);
	text-align: center;
	padding: .5 0 0 0rem;
}